<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - BarberSync</title>
    <link rel="stylesheet" href="~/css/public-design-system.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/public.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/public-responsive.css" asp-append-version="true" />
</head>
<body class="public-body">
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
