@{ ViewData["Title"] = "Dashboard"; }
<div class="row g-3"><div class="col-md-4"><div class="card"><div class="card-body"><h6>Receita do dia</h6><h3>R$ 0,00</h3></div></div></div><div class="col-md-4"><div class="card"><div class="card-body"><h6>Agendamentos hoje</h6><h3>0</h3></div></div></div><div class="col-md-4"><div class="card"><div class="card-body"><h6>Clientes ativos</h6><h3>0</h3></div></div></div></div>
