@{ViewData["Title"]="Dashboard";}
<div class='d-flex justify-content-between mb-3'><h2>Painel executivo</h2><div class='d-flex gap-2'><button class='btn btn-primary'>Novo agendamento</button><button class='btn btn-outline-dark'>Abrir comanda</button></div></div>
<div id='dashboardCards' class='row g-3'></div><div class='card mt-3'><div class='card-body'><h5>Indicadores e alertas</h5><div id='dashboardLists'></div></div></div>
