@model BarberSync.AdminWeb.Controllers.AdminController.AdminModuleViewModel
@{ ViewData["Title"] = "Dashboard"; }
<section class="admin-page-header d-flex justify-content-between align-items-start">
  <div>
    <h1>Dashboard</h1>
    <p>Visão geral da Barbearia Elite Demo</p>
  </div>
  <div class="d-flex gap-2">
    <button class="btn btn-outline-light" data-admin-refresh>Atualizar</button>
    <a class="btn btn-warning" href="/Admin/Appointments">Novo Agendamento</a>
    <a class="btn btn-primary" href="/Admin/ServiceOrders">Abrir Comanda</a>
  </div>
</section>
<div class="alert alert-warning d-none" id="adminFallbackWarning">Dados demonstrativos carregados porque a API não respondeu.</div>
<div id="dashboardKpis" class="row g-3"></div>
<div class="row g-3 mt-1">
  <div class="col-lg-8"><div class="card p-3"><h5>Receita últimos 7 dias</h5><div id="chartRevenue" class="simple-chart"></div></div></div>
  <div class="col-lg-4"><div class="card p-3"><h5>Agendamentos por status</h5><div id="chartStatus" class="simple-list"></div></div></div>
  <div class="col-lg-4"><div class="card p-3"><h5>Serviços mais vendidos</h5><div id="topServices" class="simple-list"></div></div></div>
  <div class="col-lg-4"><div class="card p-3"><h5>Pagamentos por forma</h5><div id="paymentMix" class="simple-list"></div></div></div>
  <div class="col-lg-4"><div class="card p-3"><h5>Ocupação por profissional</h5><div id="proOccupation" class="simple-list"></div></div></div>
</div>
<div class="row g-3 mt-1">
  <div class="col-lg-6"><div class="card p-3"><h5>Próximos agendamentos</h5><div id="nextAppointments"></div></div></div>
  <div class="col-lg-6"><div class="card p-3"><h5>Sugestões do Copilot</h5><div id="copilotSuggestions"></div></div></div>
</div>
<script src="~/js/admin-api-client.js"></script>
<script src="~/js/admin-dashboard.js"></script>
