@{ViewData["Title"]=ViewContext.RouteData.Values["controller"]?.ToString();}
<h2>@ViewData["Title"]</h2><div class='card'><div class='card-body'><p>Tela funcional em evolução com API integrada.</p><div id='entityList'></div></div></div>
