<nav aria-label="breadcrumb" class="mb-3"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/Admin">Admin</a></li><li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"]</li></ol></nav>
