<div id='helpPanel' class='help-panel'><h5>Manual rápido</h5><p>Use o menu lateral para navegar módulos, visualizar indicadores e executar ações conectadas à API.</p><a href='/Help' class='btn btn-sm btn-primary'>Abrir manual completo</a></div>
