<nav aria-label='Paginação'><ul class='pagination pagination-sm mb-0'><li class='page-item disabled'><span class='page-link'>Anterior</span></li><li class='page-item active'><span class='page-link'>1</span></li><li class='page-item'><span class='page-link'>2</span></li><li class='page-item'><span class='page-link'>Próxima</span></li></ul></nav>
